<div class="row">
  <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class => "google-button" %>
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), :class => "twitter-button" %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook-button" %>
</div>