<h3>Users</h3>
<ul class="users">
  <% @nonfriends.each do |user| %>
    <div class="user">
    <p>
      <strong><%= user.name %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user),:class => "button", :method => :post, remote: true %>
    </p>
  </div>
  <% end %>
</ul>
