<ion-view title="WeFeed" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding fade-in">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <div item-height= "250px" class="imageDiv item-image" collection-repeat="post in posts">
        <img src="{{post.primaryimg}}">
        <a ng-href="#/app/post/{{post.id}}">
          <div class='item item-text-wrap textToBeOnTop'>
            <h2>{{post.title}}</h2>
            <p>{{post.author}}</p>
          </div>
        </a>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
