
.imageDiv{
    position:relative;
    top: 0;
    left: 0;
}
.imageDiv .textToBeOnTop{
    background-color:rgba(255,255,255,0.7);
    position:absolute;
    left:0px;
    right:0px;
    bottom:5px;
}
