
<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="small-6 columns">
  <% @activities.each do |activity| %>
  <!-- Feed Entry -->
  <div class="row">
    <div class="small-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
    <div class="small-10 columns">
      <%= link_to activity.owner.name, activity.owner if activity.owner %>
      <%= render_activity activity %>          <ul class="inline-list">
      <li><a href="">Reply</a></li>
      <li><a href="">Share</a></li>
      </ul>
    </div>
  </div>
  <!-- End Feed Entry -->
  <% end %>
  <hr /> 
</div>
